{
  "extends": "standard-with-typescript",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "ignorePatterns": [ "dist/" ],
  "rules": {
    "@typescript-eslint/prefer-readonly": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/promise-function-async": "off"
  }
}
